# requirements.in
h5py
# jsonschema 4.18.0 made RefResolver deprecated
jsonschema<4.18
jupyter
# napari 0.4.18 made point sizes only isotropic: https://forum.image.sc/t/anisotropic-point-sizes/83388
napari[all]>0.4.17
read_roi
regional
scikit-image>=0.21
scikit-learn
seaborn
semantic_version
showit
slicedimage
sympy
trackpy
validators
xarray
